body
{
	background: url('../images/pattern.png');
}
#loading
{
	width: 230px;
	text-align: center;
	margin: 250px auto;
}
#game
{
	background: url('../images/game-bk.png');
	display: block;
	margin: auto;
	width: 300px;
	height: 300px;
	border: 1px dashed #014472;
}
.cell
{
	height : 100px;
	width :100px;
}
